@use '../base.scss';
@use 'sass:color';
@use '../functions.scss' as *;

$health-block-color: #454442;

$special-color: #03fca1;
$physical-color: #caa53d;
$mental-color: #615b7d;

$stat-block-darken: 25%;

// SR5: the three-palette scheme is retained, but mapped onto
// SR attributes (physical/mental/special) via their `ui_class`.
hr {
  &.body,
  &.agility,
  &.reaction,
  &.strength {
    border-color: $physical-color;
  }

  &.willpower,
  &.logic,
  &.intuition,
  &.charisma {
    border-color: $mental-color;
  }

  &.edge,
  &.essence,
  &.magic {
    border-color: $special-color;
  }
}

.CharacterStats__nameHeader {
  margin-bottom: 1.7rem;
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #454442;
  box-sizing: border-box;
  text-align: center;
}

.CharacterStats__healthBlock {
  height: 100%;
}

.CharacterStats__healthBlock_header {
  clip-path: polygon(
    0 0,
    calc(100% - 20px + 2px) 0,
    100% calc(20px - 2px),
    100% 100%,
    0 100%
  );
  font-size: 2rem;
  font-weight: bold;
  color: #a3b18a;
  padding: 0.5rem 1rem;
  background-color: $health-block-color;
}

.CharacterStats__healthBlock_body {
  border: 4px solid $health-block-color;
  padding: 0.5rem;
  overflow-y: auto;
}
.CharacterStats__healthBlock_body.missing {
  background-color: rgba(0, 0, 0, 0.9);
}

.CharacterStats__healthBlock_entry {
  font-size: 1.5rem;
  width: 100%;
  color: #454442;
  font-weight: bold;
}

.CharacterStats__statsPage {
  font-family: 'Jost', sans-serif;
  height: 100%;
}

.CharacterStats__statTabs {
  gap: 0.25em;
  flex-wrap: wrap;
  overflow: visible;
}

.CharacterStats__statTabs .Tabs__Tab {
  flex: 0 0 auto;
}

.CharacterStats__attributeHeader {
  padding: 0.75rem 1rem;
  border: 6px solid #2b2b2b;
  background: rgba(0, 0, 0, 0.25);
  cursor: base.$cursor-pointer;
  user-select: none;
  text-align: center;
}

.CharacterStats__attributeHeader_value {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.CharacterStats__attributeHeader_name {
  font-size: 2.2rem;
  font-family: 'Libre Baskerville';
}

.CharacterStats__attributeHeader_desc {
  margin-top: 0.25rem;
  font-size: 1.2rem;
  opacity: 0.9;
}

.CharacterStats__skillRow {
  padding: 0.6rem 0.8rem;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.2);
  cursor: base.$cursor-pointer;
}

.CharacterStats__skillRow_pool {
  width: 3.5rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.CharacterStats__skillRow_name {
  font-size: 1.6rem;
  font-weight: 600;
}

.CharacterStats__skillRow_breakdown {
  font-size: 1.1rem;
  opacity: 0.8;
}

// Accent mapping by SR attribute class.
.CharacterStats__attributeHeader.body,
.CharacterStats__attributeHeader.agility,
.CharacterStats__attributeHeader.reaction,
.CharacterStats__attributeHeader.strength,
.CharacterStats__skillRow.body,
.CharacterStats__skillRow.agility,
.CharacterStats__skillRow.reaction,
.CharacterStats__skillRow.strength {
  border-color: $physical-color;
}

.CharacterStats__attributeHeader.willpower,
.CharacterStats__attributeHeader.logic,
.CharacterStats__attributeHeader.intuition,
.CharacterStats__attributeHeader.charisma,
.CharacterStats__skillRow.willpower,
.CharacterStats__skillRow.logic,
.CharacterStats__skillRow.intuition,
.CharacterStats__skillRow.charisma {
  border-color: $mental-color;
}

.CharacterStats__attributeHeader.charisma,
.CharacterStats__attributeHeader.edge,
.CharacterStats__attributeHeader.essence,
.CharacterStats__attributeHeader.magic,
.CharacterStats__skillRow.edge,
.CharacterStats__skillRow.essence,
.CharacterStats__skillRow.magic {
  border-color: $special-color;
}

.CharacterStats__statCard {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statCard__modal {
  border: 12px solid;
  box-sizing: border-box;

  &.body,
  &.agility,
  &.reaction,
  &.strength {
    border-color: $physical-color;
  }

  &.willpower,
  &.logic,
  &.intuition,
  &.charisma {
    border-color: $mental-color;
  }

  &.edge,
  &.essence,
  &.magic {
    border-color: $special-color;
  }
}

.CharacterStats__statCard__statName {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}

.CharacterStats__statCard__statValue {
  font-size: 7rem;
  font-weight: bold;
  margin-top: 3rem;
  line-height: 1;
}

$square-size: 30px;
$circle-size: 10px;
$circle-color: base.$color-bg;

.square {
  width: $square-size;
  height: $square-size;
  position: absolute;

  transform: translate(-50%, -50%);

  &::before {
    content: '';
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    background: $circle-color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.top {
    top: -1%;
  }

  &.right {
    right: -11%;
  }

  &.bottom {
    bottom: -6%;
  }

  &.left {
    left: -2%;
  }

  &.body,
  &.agility,
  &.reaction,
  &.strength {
    background-color: $physical-color;
  }

  &.willpower,
  &.logic,
  &.intuition,
  &.charisma {
    background-color: $mental-color;
  }

  &.edge,
  &.essence,
  &.magic {
    background-color: $special-color;
  }
}
